// Images in the main element
main {
  img {
    object-fit: cover;
    aspect-ratio: 16/9;

    @media (min-width: 576px) {
      aspect-ratio: 20/9;
    }

    @media (min-width: 768px) {
      aspect-ratio: 30/9;
    }
  }

  img:not(img[src*="products"]) {
    object-position: top left;
  }

  img.bw {
    filter: grayscale(100%) sepia(20%);
  }
}
